[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stripe = "*"
bcrypt = "*"
flask = "*"
flask-cors = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
itsdangerous = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
